POSTGRES_DB=bioworkflow
POSTGRES_USER=bioworkflow
POSTGRES_PASSWORD=change-this-before-production
DJANGO_SECRET_KEY=change-this-before-production
APP_PORT=8082
MINIWDL_CONTROL_SUBNET=10.253.0.0/24
MINIWDL_EGRESS_SUBNET=10.253.1.0/24
