ANALYSIS_NODE_BACKEND_IMAGE=bioworkflowmanage/backend:1.0.0
ANALYSIS_NODE_FRONTEND_IMAGE=bioworkflowmanage/frontend:1.0.0
ANALYSIS_NODE_POSTGRES_IMAGE=bioworkflowmanage/postgres:1.0.0
ANALYSIS_NODE_GATEWAY_IMAGE=bioworkflowmanage/gateway:1.0.0
ANALYSIS_NODE_DIND_IMAGE=bioworkflowmanage/dind:1.0.0
ANALYSIS_NODE_SMOKE_TASK_IMAGE=bioworkflowmanage/smoke-task:1.0.0
